.jumbotron {
            background-color:#007bff;
            text-align: center;
            font-family: "Georgia", serif;
    
           
            
        }


h2 {

position: center;
}

